@model CCVProyectoP1.Models.Clase

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNombre" class="control-label"></label>
                <select asp-for="CNombre" class="form-control" asp-items="ViewBag.Clases" id="ClaseSelect" onchange="cargarProfesoresPorClase()">
                    <option value=""></option>
                </select>
               
                <span asp-validation-for="CNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesor" class="control-label"></label>
                <select asp-for="IdProfesor" class ="form-control" id="ProfesorSelect">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/site.js"></script>
}
