@model CCVProyecto1._1.Models.Clase
@{
    ViewData["Title"] = "Unir Alumnos a Clases";
}

<h2>Unir Alumnos a Clases</h2>

<form asp-action="UnirAlumnosAClases" method="post">
    <div class="form-group">
        <label for="claseId">Seleccione una Clase:</label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.ClasesDropdown">
            <option value="">-- Seleccione una Clase --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="estudianteId">Seleccione un Estudiante:</label>
        <select id="estudianteId" name="estudianteId" class="form-control" asp-items="ViewBag.Estudiantes">
            <option value="">-- Seleccione un Estudiante --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Unir Estudiante a Clase</button>
</form>

<h3>Listado de Clases y sus Estudiantes</h3>
@foreach (var clase in ViewBag.Clases)
{
    <h4>@clase.Nombre</h4>
    <ul>
        @foreach (var estudiante in clase.Estudiante)
        {
            <li>@estudiante.Nombre</li>
        }
    </ul>
}
