@model CCVProyecto1._1.Models.Clase

<h2>Editar Clase</h2>

<form asp-action="EditarClase" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Nombre">Nombre de la Clase</label>
        <input type="text" id="Nombre" name="Nombre" asp-for="Nombre" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

<a asp-action="ListaClases" class="btn btn-secondary">Regresar a la Lista</a>
