@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hola</h1>

<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://www.hacerfamilia.com/wp-content/uploads/2024/07/20231005103145.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Profesores</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Profesores" asp-action="Index">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj3zgov-bkGQI_jwOQYA61aPmQjW5PKkGs9A&s" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Estudiantes" asp-action="Index">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>