@model IEnumerable<CCVProyecto1._1.Models.Clase>

<h2>Lista de Clases</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Clase</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clase in Model)
        {
            <tr>
                <td>@clase.Nombre</td>
                <td>
                    <a asp-action="EditarClase" asp-route-id="@clase.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="EliminarClase" asp-route-id="@clase.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CrearClase" class="btn btn-primary">Crear Nueva Clase</a>
