@model IEnumerable<CCVProyectoP1.Models.Clase>

<h1>Clases del Estudiante</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var clase in Model)
        {
            <li>
                @clase.CNombre - Grado: @clase.Grado
                <a asp-action="ActividadesPorClase" asp-route-claseId="@clase.Id"  class="btn btn-secondary">Ver Actividades</a>
            </li>
        }
    </ul>
}
else
{
    <p>No estás inscrito en ninguna clase actualmente.</p>
}
