@model IEnumerable<CCVProyecto1._1.Models.Clase>

<h1>Clases del Profesor</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var clase in Model)
        {
            <li>@clase.Nombre</li>
        }
    </ul>
}
else
{
    <p>No tienes clases asignadas actualmente.</p>
}
